.kang-form-order .client-fill .first {
    display:  inline-flex;
}
.kang-form-order.open-popup .wpcf7-form-control.wpcf7-submit {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    clear: both;
    padding: 10px 28px;
    background: #ff7703;
    border: 1px solid #ff7703;
    line-height: 1;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    height: 40px;
}
.page #primary>.content-right {
    padding:  20px;
}
#main .k-product .frame_view p * {
    color: #fff !important;
}
 #order-form .wpcf7-response-output {
    padding: 20px ;
    font-size: 16px ;
    color: #fff ;
    color: #fff ;
    background-color: #e1c86b ;
    border-radius: 3px ;
    border: 2px solid #ff7703;
}

.kang-form-order.open-popup .wpcf7-form-control.wpcf7-submit:hover {
        background: #E85232;
}
.kang-form-order.open-popup input {
        height: 30px;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #d3d3d3;
    outline: 0;
    font-family: Arial,sans-seif;
    vertical-align: top;
}
.kang-form-order .client-fill .so-luong label {line-height:  28px;padding-right: 2px;}
.flexslider .slides>li,.mfp-wrap{-webkit-backface-visibility:hidden}.fa-fw,.fa-li,.mfp-container{text-align:center}.mfp-container,img.mfp-img{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.fa,.fa-stack{display:inline-block}.mfp-close,a,a:focus,a:hover{text-decoration:none}@font-face{font-family:FontAwesome;src:url(fonts/fontawesome-webfont.eot?v=4.2.0);src:url(fonts/fontawesome-webfont.eot?#iefix&v=4.2.0) format("embedded-opentype"),url(fonts/fontawesome-webfont.woff?v=4.2.0) format("woff"),url(fonts/fontawesome-webfont.ttf?v=4.2.0) format("truetype"),url(fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular) format("svg");font-weight:400;font-style:normal}.fa{font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;width:36px;margin-left:0}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-stack,.mfp-container:before,.mfp-content,table td,table th{vertical-align:middle}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative} .text-sidebar{    margin-top: 10px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;} .proDetail-right .showroom{background-color: #f5f5f5;
    padding: 5px 10px 10px;} .proDetail-right .showroom .title{    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    text-align: center;} .proDetail-right .showroom .address{    background-color: #fff;
    padding: 10px;} .proDetail-right .showroom .address .s-l{    float: left;
    width: 16px;
    height: 16px;
    background: url(../kang/images/icon-local.png) left top no-repeat;} .proDetail-right .showroom .address .i {
    float: left;
    padding-left: 10px;
} .fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:.08em solid #eee;border-radius:.1em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1,1);-ms-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1,-1);-ms-transform:scale(1,-1);transform:scale(1,-1)}:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-rotate-90{filter:none}.fa-stack{position:relative;width:2em;height:2em;line-height:2em}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.mfp-bg,.mfp-wrap{position:fixed;left:0;top:0;height:100%;width:100%}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-close:before,.fa-remove:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-cog:before,.fa-gear:before{content:"\f1d1"}.fa-trash-o:before{content:"\f014"}.fa-home:before,.flaticon-destination-point a:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-repeat:before,.fa-rotate-right:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-image:before,.fa-photo:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-exclamation-triangle:before,.fa-warning:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-cogs:before,.fa-gears:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-floppy-o:before,.fa-save:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-bars:before,.fa-navicon:before,.fa-reorder:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-sort:before,.fa-unsorted:before{content:"\f0dc"}.fa-sort-desc:before,.fa-sort-down:before{content:"\f0dd"}.fa-sort-asc:before,.fa-sort-up:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-gavel:before,.fa-legal:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-bolt:before,.fa-flash:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-clipboard:before,.fa-paste:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106";     content: "\f106";
    FONT-SIZE: 33PX;
    PADDING-RIGHT: 11PX;}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-chain-broken:before,.fa-unlink:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-caret-square-o-down:before,.fa-toggle-down:before{content:"\f150"}.fa-caret-square-o-up:before,.fa-toggle-up:before{content:"\f151"}.fa-caret-square-o-right:before,.fa-toggle-right:before{content:"\f152"}.fa-eur:before,.fa-euro:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-inr:before,.fa-rupee:before{content:"\f156"}.fa-cny:before,.fa-jpy:before,.fa-rmb:before,.fa-yen:before{content:"\f157"}.fa-rouble:before,.fa-rub:before,.fa-ruble:before{content:"\f158"}.fa-krw:before,.fa-won:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-caret-square-o-left:before,.fa-toggle-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-try:before,.fa-turkish-lira:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-bank:before,.fa-institution:before,.fa-university:before{content:"\f19c"}.fa-graduation-cap:before,.fa-mortar-board:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-image-o:before,.fa-file-photo-o:before,.fa-file-picture-o:before{content:"\f1c5"}.fa-file-archive-o:before,.fa-file-zip-o:before{content:"\f1c6"}.fa-file-audio-o:before,.fa-file-sound-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-ring:before,.fa-life-saver:before,.fa-support:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-empire:before,.fa-ge:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-paper-plane:before,.fa-send:before{content:"\f1d8"}.fa-paper-plane-o:before,.fa-send-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-futbol-o:before,.fa-soccer-ball-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-ils:before,.fa-shekel:before,.fa-sheqel:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.mfp-container:before,.mfp-figure:after{content:''}.mfp-bg{z-index:1042;overflow:hidden;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{z-index:1043;outline:0!important}.mfp-container{position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;box-sizing:border-box}.mfp-container:before{display:inline-block;height:100%}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;margin:0 auto;text-align:left;z-index:1045}.mfp-close,.mfp-preloader{text-align:center;position:absolute}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;top:50%;width:auto;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-close,.mfp-preloader a:hover{color:#fff}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;right:0;top:0;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-figure,img.mfp-img{line-height:0}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-image-holder .mfp-content,img{max-width:100%}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}.mfp-figure:after,img.mfp-img{width:auto;height:auto;display:block}img.mfp-img{box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure:after{position:absolute;left:0;top:40px;bottom:40px;right:0;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.flex-container a:active,.flex-container a:focus,.flexslider a:active,.flexslider a:focus{outline:0}.flex-control-nav,.flex-direction-nav,.slides{margin:0;padding:0;list-style:none}.flexslider{padding:0;margin:0 0 10px;background:#fff;border:4px solid #fff;position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);-moz-box-shadow:0 1px 4px rgba(0,0,0,.2);-o-box-shadow:0 1px 4px rgba(0,0,0,.2);box-shadow:0 1px 4px rgba(0,0,0,.2);zoom:1}.flexslider .slides>li{display:none}.flex-direction-nav a,.no-js .slides>li:first-child,.slides:after,html[xmlns] .slides{display:block}.flexslider .slides img{width:100%;display:block}.flex-pauseplay span{text-transform:capitalize}.slides:after{content:".";clear:both;visibility:hidden;line-height:0;height:0}* html .slides{height:1%}.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.flexslider .slides{zoom:1}.carousel li{margin-right:5px}.flex-direction-nav a{text-decoration:none;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{right:-50px;text-align:right}.flexslider:hover .flex-prev{opacity:.7;left:10px}.flexslider:hover .flex-next{opacity:.7;right:10px}.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default}.flex-direction-nav a:before{font-family:flexslider-icon;font-size:40px;line-height:1;display:inline-block;content:'\f001'}body,pre{word-wrap:break-word;line-height:1.4}.flex-direction-nav a.flex-next:before{content:'\f002'}.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}body,del{color:#333}.flex-pauseplay a:before{font-family:flexslider-icon;font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a.flex-play:before{content:'\f003'}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1}.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,.3);box-shadow:inset 0 0 3px rgba(0,0,0,.3)}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,.9);cursor:default}.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden}.flex-control-thumbs li{width:25%;float:left;margin:0}.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}ol,ul{list-style:none;margin-bottom:0}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{margin:0;padding:0;overflow-y:scroll;min-width:100%}.tagcloud,blockquote{overflow:hidden}body{font-family:"roboto",sans-serif;background:#f4f4f4;font-size:14px;font-weight:normal;min-width:100%;-webkit-font-smoothing:antialiased}dl,dt,h1,h2,h3,h4,h5,h6{color:#3DAD49;line-height:1.3;font-weight:400;margin:0 0 10px}h1{font-size:20px}h2{font-size:18px}h3{font-size:17px}h4{font-size:16px}h5{font-size:15px}h6{font-size:14px}p{margin:0 0 5px}a{color:#3DAD49;cursor:pointer}a:hover{color:#53ac19;transition:color .3s ease-in-out;-moz-transition:color .3s ease-in-out;-ms-transition:color .3s ease-in-out;-o-transition:color .3s ease-in-out;-webkit-transition:color .3s ease-in-out}a:active,a:focus,button:focus,input:focus,select:focus,textarea:focus{outline:0!important}img{display:block;height:auto}li{line-height:1.5}input,select,textarea{color:#333;font-size:13px;max-width:100%}code{-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px}pre{display:block;font-size:14px;word-break:break-all;white-space:pre;white-space:pre-wrap;background-color:#f1f1f1;border:1px solid #e5e5e5;border:1px solid rgba(0,0,0,.15);-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;margin:0 0 30px;padding:16px;letter-spacing:0;color:inherit}table,table td,table th{border: 1px solid #e6e6e6;}cite{color:#fff}ins{text-decoration:underline}code,kbd,pre,samp{font-family:monospace,serif}blockquote{padding-left:30px;border:none;position:relative;margin-bottom:20px}blockquote:before{position:absolute;top:0;left:0;width:5px;height:100%;background:#FF6935;content:"";opacity:.4}.size-auto,.size-full,.size-large,.size-medium,.size-thumbnail,.wp-caption img{height:auto;max-width:100%}blockquote p{font-weight:300;font-size:22px;line-height:1.6;margin-bottom:16px}blockquote cite,blockquote em{font-size:14px;color:#FF6935;font-style:normal;margin-left:2%}blockquote cite:before,blockquote em:before{content:"\2014";margin-right:6px}table{width: 100%;
    margin: 0 0 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 1px 1px 3px rgb(244, 244, 244);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1);}table td,table th{padding: 5px 8px;
    text-align: left;
    color: #292929;
    font-size: 13px;}.align-center,.wp-caption{text-align:center}table th{font-weight:700;border:1px solid #ccc;background:#f1f1f1}audio,video{max-width:100%}.alignnone,a img.alignnone{margin:0}.alignright,a img.alignright{margin:0 0 0 5px;float:right}.alignleft,a img.alignleft{margin:0 5px 0 0;float:left}.aligncenter,a img.aligncenter{display:block;margin:0 auto;border:1px solid #ddd;padding:5px}.wp-caption{border:1px solid #e5e5e5;box-shadow:0 2px 5px rgba(0,0,0,.05);-webkit-box-shadow:0 2px 5px rgba(0,0,0,.05);-moz-box-shadow:0 2px 5px rgba(0,0,0,.05);border-radius:1px;-webkit-border-radius:1px;-moz-border-radius:1px;padding:8px;background:#fff;max-width:100%;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s}.wp-caption:hover{border-color:#d5d5d5;box-shadow:0 2px 6px rgba(0,0,0,.22);-webkit-box-shadow:0 2px 6px rgba(0,0,0,.22);-moz-box-shadow:0 2px 6px rgba(0,0,0,.22)}.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignleft{margin:5px 20px 15px 0}.wp-caption.alignright{margin:5px 0 15px 20px}.wp-caption img{border:0;margin:0 0 4px;padding:0;width:auto}.gallery-caption,.wp-caption-text{margin:6px 0 0;text-transform:uppercase;font-size:12px;line-height:1.2;text-align:left}.gallery img{border:none!important}.gallery-icon{padding:0 10px}.gallery-caption{padding-left:10px;margin-top:5px;font-size:11px;line-height:1.4}.clear:after,.clearfix,.format-status .entry-header:after,.wrapper:after{clear:both}.clear:after,.clear:before,.format-status .entry-header:after,.format-status .entry-header:before,.wrapper:after,.wrapper:before{display:table;content:""}.widget-title{position:relative;margin-bottom:16px;font-size:18px;font-weight:400;background:#838383;color:#333;padding:5px 10px}#secondary>.widget{margin-bottom:15px}#secondary .widget-title:after{position:absolute;bottom:0;left:0;width:100%;border-top:2px solid #eaeaea}.widget select{width:100%;outline:0;border:1px solid #e1e1e1;height:34px;padding:0 6px}form.search-form{position:relative;margin-top:10px; margin-bottom:10px}.search-form input[type=search]{-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;-webkit-border-radius:0;border-radius:5px;border:1px solid #53ac19;height:40px;padding:0 40px 0 10px;width:100%}.search-form input[type=submit]{position:absolute;top:0;right:0;width:80px;height:40px;text-align:center;line-height:34px;background:url(images/search-bg.png) center center no-repeat #53ac19;color:#333;border:none;outline:0;transition:all .2s ease-out;font-size:0;cursor:pointer;border-bottom-right-radius:5px;border-top-right-radius:5px}.search-form input[type=submit]:hover{opacity:.8}.tagcloud a{display:block;float:left;border:1px solid #ccc;border-radius:1px;-webkit-border-radius:1px;-moz-border-radius:1px;padding:1px 5px;color:#ccc;font-size:12px!important;margin:0 5px 5px 0;text-decoration:none;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;white-space:nowrap} .single-content{font-size:15px; line-height:25px}.tagcloud a:hover{text-decoration:none;border-color:#FF6935;color:#FF6935}.widget ul{list-style:none;margin:0;padding:0}.widget ul li{position:relative;line-height:1.4;padding:4px 0}.widget ul li:before,.widget ul li:last-child:after,.widget_recent_entries ul li:after{position:absolute;width:100%;content:"";left:0}.widget ul li:before{border-top:1px dotted;opacity:.3;top:0}.widget ul li:last-child:after{border-bottom:1px dotted;opacity:.3;bottom:0}.widget ul a{color:#333;font-size:14px;text-decoration:none;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;-webkit-transition:all .2s ease-out;transition:all .2s ease-out}.widget ul a:hover{color:#FF6935}.widget ul ul{margin-left:20px}.widget ul ul ul{margin-left:40px}.widget_recent_entries ul{list-style:none;margin:0;padding:0}.widget_recent_entries ul li{padding:10px 0}.widget_recent_entries ul li:before{display:none}.widget_recent_entries ul li:after{border-top:1px dotted;bottom:0;opacity:.5}.widget_recent_entries ul li a{font-size:15px;text-transform:none;font-weight:400}#secondary .kang-title,.feature-products>h2,.kang-title,a.k-toogle-menu,footer h3.footer-box-title,ul.menu-footer li a{text-transform:uppercase}.widget_recent_entries ul li a:hover{color:#FF6935;text-decoration:none}.widget_recent_entries .post-date{display:block;margin-top:4px;text-transform:uppercase;letter-spacing:2px;font-size:10px}.widget_side_navigation ul{list-style:none;margin:0;padding:0;position:relative}.widget_side_navigation ul>li{display:block;position:relative;padding:7px 0 7px 18px}.widget_side_navigation ul>li:after{content:"";position:absolute;bottom:0;left:0;width:100%;height:1px;border-top:1px dotted;opacity:.4}.widget_side_navigation ul>li:last-child:after{display:none}.widget_side_navigation ul>li:before{position:absolute;content:"";top:19px;left:0;width:6px;height:6px;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;background:#FF6935;opacity:.55}.widget_side_navigation ul>li:first-child:before{display:block}.widget_side_navigation ul>li ul>li:after,a.k-gototop{display:none}.widget_side_navigation ul>li a{text-decoration:none;color:#333;font-size:16px;transition:all .2s ease-out;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out}.widget_side_navigation ul>li.current-menu-item a{color:#FF6935}.widget_side_navigation ul>li.active>a,.widget_side_navigation ul>li.current-menu-item>a,.widget_side_navigation ul>li>a:hover{color:#FF6935;text-decoration:none}.widget_side_navigation ul>li.active,.widget_side_navigation ul>li.current-menu-item:before{opacity:.8}.widget_side_navigation ul>li ul{list-style:none;margin:0;padding:0}.widget_side_navigation ul>li ul>li{position:relative;padding:3px 0 0 16px}.widget_side_navigation ul>li ul>li:before{position:absolute;content:"";top:18px;left:0;width:5px;height:5px;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;background:#000;opacity:.15}#secondary .kang-title:after,#secondary .kang-title:before,.widget-category-archive.has-thumbnail>li:after,.widget-category-archive.has-thumbnail>li:before{content:none!important} ul.nav-menu>li:hover{background: #f4f4f4} .widget_side_navigation ul>li ul>li>a{font-size:14px}a.k-gototop{    width: 40px;
    height: 40px;
    position: fixed;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 27px;
    right: 20px;
    bottom: 60px;
    border: 1px solid #ff7703;
    background: #ff7703;
    BORDER-RADIUS: 28PX;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    font-size: 20px;
}a.k-gototop:hover{background:#838383;color:#fff;border-color:#838383}a.k-gototop i{position:absolute;left:7px;bottom:0;font-size:55px}#main,.container{width:1200px;display:block;margin:0 auto;clear:both;position:relative}a.k-toogle-menu{padding:8px 30px;width:100%;line-height:1;border:1px solid #BEBEBE;font-size:18px;clear:both;margin:0;color:#666;display:none}a.k-toogle-menu i{margin-right:10px}header.site-header{margin-bottom:1px; background: white}.site-header>.container{display:table;min-height:100px}.header-left,.header-right{display:table-cell;vertical-align:middle}.header-left{text-align:left;width:25%}#logo img{max-width:300px;max-height:125px}.header-right{text-align:right}.header-right form.search-form{float:right;width:100%;max-width:300px}nav.main-navigation{background:#343434}ul.nav-menu{list-style: none;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background: white;
    border: 1px solid rgb(206, 206, 206);}ul.nav-menu li{position:relative;width:50%;float:left}ul.nav-menu>li{display:inline-block;border-right:0 solid #4F4F4F}ul.nav-menu>li:last-child{border-right:none}ul.nav-menu>li a{display:block;border-bottom:1px solid #ededed;font-size:14px;padding-left:15px;line-height:44px;clear:both;color:black;white-space:nowra; font-family: "roboto", sans-serif; font-weight: normal}ul.nav-menu>li a:hover,ul.nav-menu>li.current-menu-item>a,ul.nav-menu>li:hover>a{color:#3DAD49;text-decoration:none}ul.nav-menu>li:first-child>a>i{transform:scale(1.5);-webkit-transform:scale(1.5);-moz-transform:scale(1.5)}ul.nav-menu>li:first-child>a>span{display:inline-block}ul.nav-menu ul.sub-menu{position:absolute;visibility:hidden;opacity:0;transition:opacity .3s;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;z-index:100;width:680px;height:396px;left:270px;top:-80px;border-left:2px solid #3DAD49;background:#fff}ul.nav-menu ul.sub-menu ul{left:200px;top:0}ul.nav-menu li:hover>ul.sub-menu{opacity:1;visibility:visible}ul.nav-menu ul.sub-menu>li>a{display:block}ul.nav-menu ul.sub-menu li a{display:block;background:#fff;padding:0 20px;font-size:14px;border-bottom:0}ul.nav-menu ul.sub-menu li a:hover{background:#fff}.kang-video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;margin-bottom:5px}.kang-video-container embed,.kang-video-container iframe,.kang-video-container object{position:absolute;top:0;left:0;width:100%;height:100%}.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{display:inline-block;width:100%}.col-2 .box-footer,.col-3 .box-footer,.col-4 .box-footer,.col-5 .box-footer,.col-6 .box-footer{float:left;display:inline-block}.col-2 .box-footer{width:48%;margin-right:4%}.col-3 .box-footer{width:32%;margin-right:2%}.col-4 .box-footer{width:23.5%;margin-right:2%}.col-5 .box-footer{width:19%;margin-right:1.25%}.col-6 .box-footer{width:15.5%;margin-right:1.4%}.col-2 .box-footer:last-child,.col-3 .box-footer:last-child,.col-4 .box-footer:last-child,.col-5 .box-footer:last-child,.col-6 .box-footer:last-child{margin-right:0}.fb-comments,.fb-comments iframe span[style],.fb-comments iframe[style],.fb-comments span,.fb-like-box,.fb-like-box iframe span[style],.fb-like-box iframe[style],.fb-like-box span,.fb_iframe_widget,.fb_iframe_widget span,.fb_iframe_widget span iframe[style]{width:100%!important}footer{background:url(images/world-map.png) center bottom no-repeat #424242;background-color:rgba(19,19,19,.82)}footer *{color:#fff}footer h3.footer-box-title{color:#fff;font-size:18px;border-bottom:0px double #575656;padding-bottom:3px;margin:15px 0}footer h3.footer-box-title span{    color: #ff9600;
    padding-right: 5px;
    text-transform: none;
    font-weight: bold;
    font-size: 17px;}footer .widget-top1{margin-bottom:20px}footer .fb_iframe_widget,footer .fb_iframe_widget span{background:#fff}footer ul{list-style:none}footer ul li{margin-bottom:5px}footer ul li a{padding-left:0}footer ul li a:hover:before{background:#FF6935}footer .tagcloud{max-height:205px;overflow-y:auto}footer .tagcloud::-webkit-scrollbar{width:6px;background:#848484}footer .tagcloud::-webkit-scrollbar-thumb{background-color:#1B1B1B;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px}footer .tagcloud::-webkit-scrollbar-corner{background-color:#000}.dropdown list-category{    width: 262px;}.social-footer{text-align:center;float:left;width:20%}ul.social-media{list-style:none;display:inline-block}ul.social-media li{display:inline-block;float:left;margin-right:10px}ul.social-media li a{width:40px;height:40px;display:inline-block;font-size:22px;line-height:40px;transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s;color:#000}.copyright,.copyright a,.copyright h1,.copyright h2,.copyright h3,.copyright h4,.copyright h5,.copyright h6,.copyright p,.copyright span,.copyright strong{color:#CDCDCD}ul.social-media li a i{line-height:32px}.wf-top1 ul .pinterest{margin-right:0!important}.copyright{background:#121212;text-align:center;padding:10px 0}.copyright h1,.copyright h2,.copyright h3,.copyright h4,.copyright h5,.copyright h6{font-size:16px;margin-bottom:5px;line-height:1.2em}.copyright a:hover{color:#FF6935}ul.menu-footer{list-style:none;margin-bottom:15px}ul.menu-footer li{display:inline-block}ul.menu-footer li a{padding:2px 10px;line-height:1;font-size:14px;display:inline-block}ul.menu-footer ul.sub-menu{display:none!important}#primary{display:inline-block;width:100%;margin-top:10px}#primary>.content-left{    width: 22.5%;
    display: inline-block;
    float: left;
    /* padding-top: 24px; */
    background: #fff;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;}#primary>.content-right,.content-right-bai-viet{    width: 76%;
    display: inline-block;
    float: left;
    padding-right: 10px;
    background: white;
    padding: 0px;
    border: 1px solid #eaeaea; margin-bottom:10px;
    border-radius: 4px;}.content-right-bai-viet{background:#fff}#secondary .kang-title{margin:0 0 15px;font-size:14px;font-weight:400;padding:0;height:36px;line-height:36px}#secondary .kang-title span{    padding: 3px 5px;
    display: inline-block;
    vertical-align: top;
    background: #53ac19;
    color: #fff;
    height: 36px;
    line-height: 35px;
    font-size: 17px;
    width: 100%;
    text-align: center;}.flexslider.home-flexslider{margin:10px 10px 0;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;border:none;width:675px;float:left}.flexslider.home-flexslider .flex-direction-nav a:hover{background:0 0;width:30px;height:50px;margin:-20px 0 0}.flexslider.home-flexslider .flex-direction-nav a:before{content:none}.flexslider.home-flexslider .flex-direction-nav a.flex-prev{left:0;background:url(images/prev.png) center center no-repeat;width:25px;height:50px}.flexslider.home-flexslider .flex-direction-nav a.flex-next{right:0;background:url(images/next.png) center center no-repeat;width:25px;height:50px}.come-on{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1.1s;-moz-animation-duration:1.1s;-ms-animation-duration:1.1s;-o-animation-duration:1.1s;animation-duration:1.1s;visibility:hidden;opacity:0}.animated{-webkit-animation-name:comeon;-moz-animation-name:comeon;-o-animation-name:comeon;animation-name:comeon;visibility:visible;opacity:1}@-webkit-keyframes comeon{0%{opacity:0;-webkit-transform:translateY(60px);-moz-transform:translateY(60px);transform:translateY(60px)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}}@keyframes comeon{0%{opacity:0;-webkit-transform:translateY(60px);-moz-transform:translateY(60px);transform:translateY(60px)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0)}}.feature-products>h2{background: #fffff4;
    position: relative;
    padding: 0 0 0 10px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #53ac19;
    clear: both;
    border-left: 10px solid #ff9600;}.feature-products>h2>i{position:absolute;border-radius:3px;width:34px;height:38px;top:0;left:0;z-index:3;display:inline-block;background:#3DAD49;color:#fff;text-align:center;line-height:40px;font-size:18px}.feature-products>h2 a{font-size:16px;font-weight:100;color:#fff;padding:0;margin:0;float:left}.feature-products>h2 a.viewall{    float: right;
    background-color: #d8d8d8;
    margin: 9px 15px 0;
    display: inline-block;
    border-radius: 2px;
    font-size: 11px;
    color: #333;
    height: 23px;
    line-height: 22px;
    width: 90px;
    text-align: center;
    font-family: "roboto",sans-serif;
    font-weight: normal;
    text-transform: none;}.feature-products>h2 a.viewall span{position:absolute;top:-1px;right:10px;font-size:15px}.feature-products>h2 a:hover{color:#3DAD49}.all-products{display:inline-block;width:100%;border-top:0 solid #dadada;border-left:0 solid #dadada}.k-product{display:inline-block;float:left;width:25%;text-align:center;padding:10px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;border:1px solid #d8d8d8;margin-right:-1px;margin-top:-1px;}.all-products>.k-product:nth-child(4n+4){margin-right:0}.all-products>.k-product:nth-child(4n+1){clear:both}.k-product .thumbnail{display:inline-block;width:100%;transition:opacity .3s;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;position:relative}.k-product .thumbnail:hover{opacity:.8}.k-product .thumbnail img{width:100%;height:240px}.k-product h3.title-product{    font-size: 15px;
    height: 55px;
    margin: 0 0 5px;
    font-weight: bold; color: black;
    padding-top: 10px;
    line-height: 22px;
    overflow: hidden;}.k-product p.price{color: #ff0000;
    margin: 0 0 2px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}}
.k-product .title-product a{font-weight: bold; color: black; text-align: left}
.kang-title{ 
    /* background: #fff; */
    color: #53ac19;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    padding: 0 0 0 0;
    height: 40px;
    line-height: 40px;
    text-transform: none;
    /* border-bottom: 1px solid #53ac19; */
    clear: both;
    /* border-left: 10px solid #53ac19; */
} .related-posts-single {margin:0px}.kang-title.margin-top{margin-top:15px; padding-left:10px}.k-cat-description{margin-bottom:15px}.kang-pagination{clear:both;margin:0;display:inline-block;width:100%;text-align:right}ul.page-numbers{list-style:none!important;display:inline-block}.nav,div.category ul,ul.all-posts{list-style:none}ul.page-numbers li{display:inline-block;float:left;margin:0 3px 0 0}ul.page-numbers li:last-child{margin-right:0}.kang-pagination a,.kang-pagination span{display:inline-block;border:1px solid #3DAD49;transition:all .2s;-webkit-transition:all .2s;-moz-transition:all .2s;text-decoration:none;width:40px;height:25px;border-radius:3px;margin-left:3px;line-height:25px;text-align:center}.kang-pagination a:hover,.kang-pagination span.current{background:#3DAD49;color:#fff}.kang-pagination span.page-title{border:none;vertical-align:top}ul.all-posts li{display:inline-block;width:100%;border-bottom:1px solid #dadada;padding-bottom:10px;margin-bottom:10px}ul.all-posts li>.thumbnail{display:inline-block;float:left;width:22%;padding:4px;border:1px solid #dadada}ul.all-posts li>.thumbnail a{display:inline-block;vertical-align:top;transition:opacity .3s;-webkit-transition:opacity .3s;-moz-transition:opacity .3s;opacity:1}ul.all-posts li>.thumbnail:hover a{opacity:.7}ul.all-posts li>.detail-post{display:inline-block;float:left;width:78%;padding-left:12px}ul.all-posts li>.detail-post>h2.title-post{font-weight:400;line-height:1.2;margin:0 0 6px;font-size:18px}ul.all-posts li>.detail-post>.content-excerpt{margin-bottom:10px}ul.all-posts li>.detail-post>.content-excerpt p{margin:0}ul.all-posts li>.detail-post .read-more{display:inline-block;padding:6px 22px 6px 12px;border:1px solid #dadada;line-height:1;position:relative;font-size:12px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s}ul.all-posts li>.detail-post .read-more:hover{border-color:#FF6935;color:#FF6935}ul.all-posts li>.detail-post .read-more span{position:absolute;right:12px;top:5px}.list-view-images,.single-short{display:inline-block;width:100%;margin-top:10px}.single-short .left-short{display:inline-block;width:38%;float:left;margin-left:1%}#ksingle-lager-view{position:relative;overflow:hidden;padding:3px;border:1px solid #ddd}#ksingle-lager-view span.message-popup{position:absolute;bottom:0;left:0;background:rgba(0,0,0,.5);color:#fff;padding:5px 10px;display:inline-block;font-size:12px;line-height:1;transition:opacity .4s;-webkit-transition:opacity .4s;-moz-transition:opacity .4s;visibility:visible;opacity:1}#ksingle-lager-view:hover span.message-popup{opacity:0}#ksingle-lager-view span.message-popup i{font-size:11px;margin-right:4px}.single-short .right-short{display:inline-block;width:60%;float:left;padding-left:20px}.list-view-images a{width:23.5%;display:inline-block;float:left;margin-right:2%;border:1px solid #ddd;padding:3px}.list-view-images a img{width:100%;transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s;height:60px}.list-view-images a:hover img{opacity:.7}.list-view-images{margin-top:15px}.list-view-images a:last-child{margin-right:0}.single-short .right-short .detail-title{margin-bottom:10px;font-size:20px;border-bottom:1px solid #dadada;padding-bottom:5px}.single-short .right-short .price{color:red;font-size:26px;line-height:1;margin-top:15px;width:38%;float:left;font-weight:700}.single-short .right-short .price span{color:#333;font-size:16px}.single-short .right-short .price span.no-price{vertical-align:baseline;color:red}.single-short .right-short .old_price{margin-top:22px;width:30%;float:left}.single-short .right-short .old_price del{color:#333;font-size:14px}a.order-this-now{display:inline-block;padding:5px 0;text-align:center;line-height:1;background:#ff7703;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;color:#fff;margin-top:0;width:49%;font-size:18px;border-radius:2px;text-transform:none}a.order-this-now:hover{background:#D05207}.kang-form-order,.order-failed,.order-success{position:fixed;background:#fff;left:50%;z-index:1200}.kang-form-order{width:675px;margin:0 auto 0 -337px;display:block;top:-550px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}.kang-form-order.open-popup{top:80px}.order-failed,.order-success{width:500px;top:35%;margin-left:-250px;border-top-left-radius:6px;border-top-right-radius:6px;visibility:hidden;transition:opacity .3s linear;-webkit-transition:opacity .3s linear;-moz-transition:opacity .3s linear;opacity:0}.order-failed.open-popup,.order-success.open-popup{opacity:1;visibility:visible}.content-success{padding:30px 140px 30px 30px;border-bottom:5px solid #D33615;min-height:120px;display:block;position:relative;font-size:14px;line-height:1.6}.content-success *{font-size:14px}.content-success i.fa{position:absolute;right:60px;font-size:91px;top:12px;line-height:1;color:#D33615}.order-failed .content-success i.fa{font-size:80px;top:20px}h2.title-form{background:#ff7703;color:#fff;font-size:15px;line-height:1;padding:9px 12px;position:relative;border:1px solid #ff7703;border-bottom:0;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;margin-bottom:0}h2.title-form a.close-order{width:26px;height:26px;display:inline-block;background:#FFF;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;color:#000;position:absolute;z-index:2;right:12px;top:2px;text-align:center;line-height:25px}h2.title-form a.close-order i{font-weight:400;font-size:16px}.kang-form-order .content-form{display:table;width:100%;vertical-align:top;background:#f9f9f9;border:1px solid #ccc;border-bottom-left-radius:10px;border-bottom-right-radius:10px}.kang-form-order .content-form .form-left{display:table-cell;width:52%;vertical-align:top;padding:30px}.kang-form-order .head-form{width:100%;display:inline-block;clear:both;margin-bottom:10px}.kang-form-order .head-form .thumb{width:60px;height:auto;display:block;float:left;margin-right:10px}.kang-form-order .head-form .title h3{font-size:18px;margin-bottom:15px}.kang-form-order .head-form .title #color-product{width:120px;height:25px}.kang-form-order .client-fill{text-align:center}.kang-form-order .client-fill p{display:inline-block;width:100%;margin:0 0 10px;vertical-align:top}.kang-form-order .client-fill p input[type=text],.kang-form-order .client-fill p input[type=email],.kang-form-order .client-fill p input[type=number],.kang-form-order .client-fill p textarea{height:30px;padding:5px 10px;width:100%;border:1px solid #d3d3d3;outline:0;font-family:Arial,sans-seif;vertical-align:top}.kang-form-order .client-fill p textarea#your-address{min-height:65px}.kang-form-order .client-fill p.first select{border:1px solid #d3d3d3;display:inline-block;float:left;width:65px;height:30px;padding:0 5px;margin-right:5px}.kang-form-order .client-fill p.first input[type=text]{width:220px;float:left;max-width:100%}.kang-form-order .client-fill p.message{color:red;margin:6px 0 0;font-size:12px}.kang-form-order .client-fill p input.red{border-color:red}a.btn-order-popup{font-size:16px;color:#fff;display:inline-block;clear:both;padding:10px 40px;background:#ff7703;border:1px solid #ff7703;line-height:1;transition:all .4s;-webkit-transition:all .4s;-moz-transition:all .4s}a.btn-order-popup:hover{background:#E85232}#loading-wait{text-align:center;margin-top:5px;clear:both;display:none}#loading-wait.sending{display:block}#loading-wait img{display:inline-block;max-width:100%;vertical-align:top}.kang-form-order .content-form .form-right{display:table-cell;width:48%;background:#F7F7F7;vertical-align:top;padding:30px;border-bottom-right-radius:6px;-webkit-border-bottom-right-radius:6px}.kang-form-order .content-form .form-right h1,.kang-form-order .content-form .form-right h2,.kang-form-order .content-form .form-right h3{margin-bottom:5px;font-size:18px}.kang-form-order .content-form .form-right h4,.kang-form-order .content-form .form-right h5,.kang-form-order .content-form .form-right h6{margin-bottom:5px;font-size:16px}.kang-form-order .form-right .note-top,.kang-form-order .form-right .note-top *{font-size:14px;color:#747474;margin:0}.kang-form-order .form-right .note-top{border-bottom:1px solid #d4d4d4;padding-bottom:22px}.kang-form-order .form-right .note-bottom{border-top:1px solid #e7e7e7;padding-top:22px}h4.note-tuxa{font-size:18px;color:#f04525;margin:0 0 5px;font-weight:400}.kang-form-order .form-right .note-bottom p{font-size:11px;color:#777;line-height:15px;margin:0}.kang-form-order .form-right .note-bottom ul{margin:10px 0}.kang-form-order .form-right .note-bottom p.slogan{color:#2699d4;font-weight:700;font-size:12px;text-align:center;width:100%;float:left;text-transform:uppercase;margin-top:5px}.kang-form-order .message-order-done{padding:30px 12px;border-bottom:5px solid #DA0000;position:relative;font-size:14px}.kang-form-order .message-order-done *{font-size:14px}.kang-form-order .message-order-done .content-mes{width:80%;display:inline-block}.kang-form-order .message-order-done i.fa{position:absolute;right:20px;font-size:100px;display:inline-block;bottom:10px;color:#D33615}.kajaxloading{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);display:none;z-index:10}.wandering-cubes{height:60px;width:60px;right:0;z-index:10;display:inline-block;position:absolute;top:50%;left:50%;margin:-45px 0 0 -30px;-webkit-transition:all .3s ease-in-out 0;transition:all .3s ease-in-out 0}.cube1,.cube2{width:16px;height:16px;background-color:#fff;position:absolute;top:0;left:0;-webkit-animation:cubemove 1.8s infinite ease-in-out;animation:cubemove 1.8s infinite ease-in-out}.cube2{-webkit-animation-delay:-.9s;animation-delay:-.9s}@-webkit-keyframes cubemove{25%{-webkit-transform:translateX(42px) rotate(-90deg) scale(.5)}50%{-webkit-transform:translateX(42px) translateY(42px) rotate(-180deg)}75%{-webkit-transform:translateX(0) translateY(42px) rotate(-270deg) scale(.5)}100%{-webkit-transform:rotate(-360deg)}}@keyframes cubemove{25%{transform:translateX(42px) rotate(-90deg) scale(.5);-webkit-transform:translateX(42px) rotate(-90deg) scale(.5)}50%{transform:translateX(42px) translateY(42px) rotate(-179deg);-webkit-transform:translateX(42px) translateY(42px) rotate(-179deg)}50.1%{transform:translateX(42px) translateY(42px) rotate(-180deg);-webkit-transform:translateX(42px) translateY(42px) rotate(-180deg)}75%{transform:translateX(0) translateY(42px) rotate(-270deg) scale(.5);-webkit-transform:translateX(0) translateY(42px) rotate(-270deg) scale(.5)}100%{transform:rotate(-360deg);-webkit-transform:rotate(-360deg)}}.widget-category-archive.has-thumbnail>li{display:inline-block;width:100%;padding:5px 0;border-bottom:1px solid #f4f4f4}.widget-category-archive.has-thumbnail>li:first-child{padding-top:0}.widget-category-archive.has-thumbnail>li .view_left{width:70px;float:left;margin-right:8px}.widget-category-archive.widget-products-new.has-thumbnail>li .view_left{width:70px}.widget-category-archive.has-thumbnail>li .view_right h4{margin:0;line-height:1}.widget-category-archive.has-thumbnail>li .view_right h4 a{font-size:13px}.kang-google-map{position:relative;padding-bottom:69.767%;height:0;overflow:hidden}form.kcontact-us{width:465px;display:inline-block;position:relative}.kcontactloading{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);display:none}form.kcontact-us .contact-line{display:inline-block;width:100%;vertical-align:top;margin:0 0 15px}form.kcontact-us .contact-line.no-margin{margin-bottom:0}form.kcontact-us .contact-line label{width:80px;margin-right:10px;line-height:31px;display:inline-block;float:left;text-align:right}form.kcontact-us .contact-line label.noline{line-height:1}form.kcontact-us .contact-line label span{color:#FA1E1E;margin-left:3px}form.kcontact-us .contact-line .right{display:inline-block;float:left;width:375px;text-align:left}form.kcontact-us .contact-line input[type=text],form.kcontact-us .contact-line input[type=email],form.kcontact-us .contact-line textarea{padding:8px 10px;line-height:31px;height:31px;width:100%;display:inline-block;font-family:Arial,sans-seif;vertical-align:top;border:1px solid #dadada}form.kcontact-us .contact-line textarea{height:auto;min-height:87px;padding:0 10px}.kct-cancel,.kct-sendmail{color:#fff;display:inline-block;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;line-height:1;width:100px;text-align:center;padding:10px 0;background:#313131;text-transform:uppercase;font-size:13px}.kct-sendmail{margin-right:10px}.message-contact{color:#D04040;margin:10px 0 0;font-size:14px}.kct-cancel:hover,.kct-sendmail:hover{background:#494949;color:#fff}.contact-title{margin:0 0 15px}.contact-title.margin-top{margin-top:25px}.contact-title span{display:inline-block;padding-bottom:2px;border-bottom:3px double #dadada;text-transform:uppercase;font-size:18px}.k-contact-map{max-width:700px;display:block;margin:0 auto}p.no-result{font-size:15px}a.goback-home{display:inline-block;padding:6px 12px;border:1px solid #dadada;line-height:1;position:relative;font-size:12px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;color:#5f5f5f;clear:both;margin-top:5px}a.goback-home:hover{border-color:#FF6935;color:#FF6935}.newsletter-subscription{display:table;width:100%;margin-top:10px;margin-bottom:10px}.newsletter-subscription .newsletter-email{width:82%;padding:8px 10px;line-height:30px;height:45px;display:inline-block;font-family:Arial,sans-seif;vertical-align:top;border:1px solid #dadada}.newsletter-subscription .newsletter-submit{height:45px;color:#fff;display:inline-block;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;line-height:1;width:100px;text-align:center;padding:8px 0;background:#3DAD49;text-transform:uppercase;font-size:13px;border:none;margin-top:0;cursor:pointer}.newsletter-subscription .newsletter-submit:hover{background:#e62c2c}ul.menu-footer>li:first-child>a>i{display:none}p.single-tags{margin:20px 0 0;font-size:14px}p.single-tags a{padding:1px 5px;border:1px solid #3DAD49;color:#fff;display:inline-block;margin:0 2px 4px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;background:#3DAD49;border-radius:5px}p.single-tags a:hover{background:#fff;color:#FF6935}@media (min-width:1030px){ul.nav-menu{display:inline-block!important}}@media (max-width:1029px){#primary>.content-left,#primary>.content-right{padding:0;float:none;width:100%}#primary>.content-left{margin-bottom:15px}a.k-toogle-menu{display:inline-block}ul.nav-menu,ul.nav-menu>li:first-child>a>i{display:none}nav.main-navigation{background:0 0;margin-top:10px}ul.nav-menu{background:#343434;margin-top:1px}ul.nav-menu>li:first-child>a>span{display:block}ul.nav-menu>li{float:none;width:100%;vertical-align:top;border-bottom:1px solid #4F4F4F}ul.nav-menu>li a:hover,ul.nav-menu>li.current-menu-item>a,ul.nav-menu>li:hover>a{background:0 0}ul.nav-menu li a:hover{background:#4F4F4f!important}ul.nav-menu>li a{width:100%;padding:10px 20px}ul.nav-menu ul.sub-menu{position:static;opacity:1;visibility:visible;width:100%}ul.nav-menu ul.sub-menu li a{background:0 0;font-size:13px;width:100%}ul.nav-menu ul.sub-menu li a:before{display:inline-block;margin-right:5px}ul.nav-menu ul.sub-menu>li>a:before{content:"-";margin-left:10px}ul.nav-menu ul.sub-menu ul>li>a:before{content:"--";margin-left:20px}ul.nav-menu ul.sub-menu ul>ul>li>a:before{content:"---";margin-left:30px}.k-product{width:48%;margin-right:4%}.all-products>.k-product:nth-child(2n+2){margin-right:0}.all-products>.k-product:nth-child(4n+1){clear:both}.col-4 .box-footer,.col-5 .box-footer{width:48%;margin-right:4%;margin-bottom:20px}.col-5 .box-footer:nth-child(4n+4){margin-right:4%}.col-4 .box-footer:nth-child(2n+2),.col-5 .box-footer:nth-child(2n+2){margin-right:0}.col-4 .box-footer:nth-child(4n+1),.col-5 .box-footer:nth-child(4n+1){clear:none}.col-4 .box-footer:nth-child(2n+1),.col-5 .box-footer:nth-child(2n+1){clear:both}}@media (min-width:767px) and (max-width:1029px){#main,.container{width:740px}.widget-category-archive.widget-products-new.has-thumbnail>li .view_left{width:57px}.col-6 .box-footer{width:32%;margin-right:2%;margin-bottom:20px}.col-6 .box-footer:nth-child(3n+3){margin-right:2%}.col-6 .box-footer:nth-child(3n+1){clear:both}}@media (max-width:767px){#main,.container{width:460px}.col-2 .box-footer,.col-3 .box-footer,.col-4 .box-footer,.col-5 .box-footer,.col-6 .box-footer{margin-right:0!important;width:100%!important;float:none!important;margin-bottom:15px!important}ul.menu-footer li{display:block;margin-bottom:5px}.header-left,.header-right{display:block;text-align:center}.header-left{margin:20px 0 15px}.header-left #logo{display:inline-block}.header-right form.search-form{float:none;display:inline-block}nav.main-navigation{margin-top:20px}form.kcontact-us{width:390px}form.kcontact-us .contact-line .right{width:300px}ul.all-posts li{padding-bottom:15px;margin-bottom:20px}ul.all-posts li>.detail-post,ul.all-posts li>.thumbnail{width:100%;padding:0;float:none;vertical-align:top}ul.all-posts li>.thumbnail{margin-bottom:15px;padding:4px}ul.all-posts li>.thumbnail a,ul.all-posts li>.thumbnail img{width:100%;height:auto}ul.all-posts li>.thumbnail a{display:block;width:auto}.single-short .left-short,.single-short .right-short{width:100%;padding:0;float:none}.single-short .left-short{margin-bottom:15px}#ksingle-lager-view a img{width:100%}.come-on{visibility:visible;opacity:1}.animated{animation-name:none;-webkit-animation-name:none;-moz-animation-name:none;-o-animation-name:none}.kang-form-order,.order-failed,.order-success{width:460px;margin-left:-240px;position:absolute}.order-failed,.order-success{top:100px}.kang-form-order .client-fill p.first input[type=text]{width:328px}.kang-form-order .content-form .form-right{display:none}}.header-info .text .l a,.icon-bct{vertical-align:middle;text-decoration:none}.ordernow{width:100%}.category{width:20%;float:left}.menu-cat icon_i{width:22%;float:left}div.category h3{margin-bottom:0;background:url(images/bg_category.png) 20px 60% no-repeat #ab2663;padding:14px 0 9px 50px}div.category h3 span{color:#fff}nav.menu-cat{display:block;position:relative;z-index:99;border:1px solid #ededed}div.category ul{margin:0;padding:0;background:#fff}div.category ul li a{font-size:16px;border-bottom:1px solid #ededed;padding:10px 15px 10px 50px;display:block;text-decoration:none;color:#444}.h-r ul img{width:238px;height:auto;margin-top:10px}.header-center{float:left;width:50%;padding-top:20px;margin-left:10px;margin-right:10px}.header-info{width:45%;float:right}.header-info .text{float:left;width:33%;padding:10px 0;text-align:center}.header-info .text .l a{width:44px;height:44px;display:inline-block}.header-info .t1 .l a{background:url(http://mayloc.ninhbinhweb.com/wp-content/uploads/2017/11/giaohang.png) left top no-repeat}.header-info .t2 .l a{background:url(http://mayloc.ninhbinhweb.com/wp-content/uploads/2017/11/hotline.png) left top no-repeat}.header-info .t3 .l a{background:url(http://mayloc.ninhbinhweb.com/wp-content/uploads/2017/11/thanhtoan.png) left top no-repeat}.header-info .t4 .l a{background-position:-213px top}.header-info .text .r a{color:#5b5b5b;text-decoration:none;font-size:12px}.header-info .tel{background:url(http://mayloc.ninhbinhweb.com/wp-content/uploads/2017/11/bghotline-copy.png) no-repeat;text-align:center}.header-info .tel span a{text-decoration:none;color:#fff;font-weight:700;font-size:22px}.header-info .tel span{display:block;padding:3px 0 4px;color:#fff;font-size:18px}.menu-top-menu-container{width:100%}.nav{padding-left:0;margin-bottom:0;background-color:#53ac19;height:40px}.container{width:1200px}.tile-cat{width:89%;margin:0;float:left}.tile-cat .cat-name{display: block;
    color: #53ac19;
    font-weight: bold;}.darkness{background:rgba(0,0,0,.7);display:none;position:absolute;top:0;left:0;height:100%;width:100%;z-index:5}.main-banner{float:right;width:932px}.dropdown-menu .sub-menu{position:absolute;left:270px;display:none;width:680px;top:9px;border-left:2px solid #3DAD49;height:95%;background:#fff}.dropdown .drop-category,.dropdown-menu li:hover .sub-menu{display:block}.dropdown-menu ul li a{font-size:14px;padding:10px 15px 10px 50px;display:block;text-decoration:none;color:#444}.dropdown-menu .sub-menu li a{background:#fff;padding:10.2px 5px 10.2px 30px;width:50%;float:left}.single-short .suk{width:100%}.single-short .suk .kcode{width:50%;display:inline;padding-right:20px;font-size:14px}.single-short .suk .status{width:50%;display:inline-block;border-left:2px solid #ccc;padding-left:20px;font-size:14px}.feature-products{margin-top:1px}.short-excerpt{background:#f5f5f5;margin:15px 0; padding: 12px}.come-on .short-excerpt p{font-size:14px;padding:10px;display:inline-block}.ordernow{display:inline-block;margin-top:10px}.kcode span,.status span{color:#3DAD49;text-transform:uppercase}a.order-this-now .p1{float:left;width:100%;font-size:18px;font-weight:700;margin-bottom:7px}a.order-this-now .p2{font-size:12px}a.support,a.support .p1{font-size:18px;display:inline-block}a.support{background-color:#0276c7;color:#fff;padding:5px 0;text-align:center;line-height:1;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;margin-top:0;width:50%;border-radius:2px;text-transform:none}a.support .p1{font-weight:700;margin-bottom:7px;width:100%;float:left}a.support .p2{font-size:12px}.share-face{width:122px;float:left;margin-right:5px}.paymethod{overflow:hidden;display:inline-block;float:left;margin-bottom:10px;width:100%;padding-top:15px}.paymethod>span{float:left;line-height:28px;margin-right:10px;font-size:15px}.paymethod .paymethod-list{float:left;width:365px;display:inline-block}.paymethod .paymethod-list img{border:1px solid #ddddde;margin-right:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:#fff;display:inline-block;width:56px}.flaticon-destination-point a:before,.flaticon-live-news-report a:before,.flaticon-technology a:before,.flaticon-web a:before{font-family:FontAwesome;font-size:24px;font-style:normal;margin-right:10px}.flaticon-technology a:before{content:"\f095"}.flaticon-web a:before{content:"\f0e0"}.flaticon-live-news-report a:before{content:"\f0ac"}.icon-bct{display:inline-block;width:135px;height:50px;background:url(images/dang-ky.png) no-repeat;margin-left:2px;margin-top:6px;float:left}.wf-top{background:#fff;-moz-min-width:1200px;-ms-min-width:1200px;-o-min-width:1200px;-webkit-min-width:1200px;padding:16px 0 12px}.wf-top ul li.wf-top-dv,.wf-top ul li.wf-top-kmkn,.wf-top ul li.wf-top-sphh,.wf-top ul li.wf-top-tvbh{padding-left:45px;float:left;list-style-type:none}.wf-top ul{overflow:hidden;width:100%;max-width:1200px;-moz-min-width:1000px;-ms-min-width:1000px;-o-min-width:1000px;-webkit-min-width:1000px;margin:auto}.wf-top ul li.wf-top-sphh{background:url(images/icon-hang-chinh-hang.png) left top no-repeat;width:28%}.wf-top ul li>*{display:block;color:#ff9600;font-size:15px;font-family:arial;line-height:20px}.wf-top ul li.wf-top-kmkn{background:url(images/icon-kmkn.png) left top no-repeat;width:27%}.wf-top ul li.wf-top-dv{background:url(images/icon-dv.png) left top no-repeat;width:26%}.wf-top ul li.wf-top-tvbh{background:url(images/icon-tvbh.png) left top no-repeat;width:19%}.wf-top-tvbh a{color:red}.footer-copyright{float:left;font-size:14px}@media all and (min-width:320px)and (max-width:760px){.banner-left-home{display:none!important}.all-products-home{width:100%!important}.banner-left-home1,.banner-left-home2,.banner-left-home3,.banner-left-home4,.banner-left-home5,.banner-left-home6{display:none}.bannerhome2,.bannerhome4,.bannerhome6,.price-home .old_price,.slide-holder,.tile-cat .subcate{display:none!important}.tile-cat{width:50%!important}.new_post_1{width:94%!important;margin-bottom:10px!important}.wf-top1 ul .new-letter{width:100%!important}.new-letter .dkmail{width:95%!important;margin:0 0 0 10px!important}.wpcf7-validates-as-email{width:70%!important;margin-left:1%}.wpcf7-submit{width:26%!important}.wpcf7-validation-errors{display:block;float:left!important;width:99%!important;margin:0!important}.content-right-category .content-left,.h-r,.info-product .content-left{display:none!important}.wf-top1 ul .facebook{margin-left:4%}.info-product .content-right{width:100%!important}.content-right-category .content-right-1{width:100%}#primary>.content-right-search{width:100%!important}.content-right-bai-viet{width:100%}.k-product{width:50%!important}.social-footer{width:100%!important}}@media all and (max-width:480px){.header-center,.header-left{margin:0;width:100%}#logo img,.k-product .thumbnail img{height:auto}body{width:100%}.header-center{padding:0}.header-info{width:100%;float:left;margin-top:5px}.header-info .tel{width:100%;background:url(../kang/images/bghotline.png) center no-repeat;text-align:center}.header-info .tel span{width:100%;padding:0;font-size:14px}.main-banner{width:100%;float:left}.flexslider.home-flexslider{width:100%;margin:0}.h-r{width:100%;display:inline-block}.h-r ul img{width:48%;float:left;margin-right:5px}.category,.container.footer-top,.textwidget,.wf-top ul li.wf-top-tvbh{width:100%}.wf-top ul li.wf-top-dv,.wf-top ul li.wf-top-kmkn,.wf-top ul li.wf-top-sphh{width:100%;margin-bottom:10px}.wf-top{min-width:100%}.container{padding-left:10px}#primary>.content-left{display:none}.category{float:left}.k-product h3.title-product{font-weight:bold}#main,.container{width:97%px}.site-header>.container{display:block;width:99%}.feature-products>h2 a.viewall,form.kcontact-us .contact-line label.empty-none{display:none}#logo img{max-width:300px;max-height:100px}.k-product{width:49%!important;margin-right:0!important;float:none;vertical-align:top}.feature-products>h2{margin-bottom:20px}form.kcontact-us,form.kcontact-us .contact-line .right{width:258px}form.kcontact-us .contact-line{margin-bottom:10px}form.kcontact-us .contact-line label{text-align:left}form.kcontact-us .contact-line label.noline{line-height:31px}.kang-title{font-size:14px;display:inline-block;width:100%}.flexslider.home-flexslider .flex-direction-nav a{display:none}.kang-form-order,.order-failed,.order-success{width:280px;margin-left:-140px}.kang-form-order .client-fill p.first input[type=text]{width:148px}.kang-product .title-bottom{font-size:16px}.content-success{padding:30px 20px}.content-success i.fa{display:none!important}.kang-form-order .head-form .title h3{font-size:14px}}@media all and (max-width:768px){.container,.h-r{width:100%}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center}.k-product .thumbnail img{height:auto}.main-banner{width:100%;float:left}.h-r ul img{width:46%;float:left;margin:10px 0 0 14px}.k-product{width:33%;margin:0}.all-products>.k-product:nth-child(4n+1){clear:none}.header-info{width:43%;float:left}.header-center{width:45%;padding-top:60px}.single-short .suk .kcode,.single-short .suk .status{font-size:12px}.single-short .right-short .price{width:55%}.single-short .right-short .old_price{width:45%}.saving{width:50%!important;margin:0}a.order-this-now,a.support{width:49%}.order_right,.related-posts-single,.right-short1{width:100%!important}.list-view-images a img{height:80px}.order_right{display:block!important}.single-content .order-this-now{width:60%}}@media all and (max-width:1029px){.k-product .thumbnail img{height:auto}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center}#main,.container{width:100%}.main-banner{width:77%}.h-r ul img{width:170px;height:107px}.k-product{width:25%;margin-right:0}.all-products>.k-product:nth-child(4n+1){clear:none}.flexslider.home-flexslider{width:75%}.widget ul,.widget_recent_entries ul{padding-left:10px}}.all-products-related-posts-single>.k-product:nth-child(5n+1),.clear,.clear5px,.product-news .all-products-home .k-product:nth-child(5n+1){clear:both}@media all and (max-width:768px){.k-product .thumbnail img{height:auto}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center}.main-banner{float:right;width:65%;height:270px}.h-r ul img{width:30%;margin-left:10px}.flexslider.home-flexslider{width:96%}}@media only screen and (min-width:320px) and (max-width:760px){.k-product .thumbnail img{height:auto}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center;background-size:contain}.header-center{width:100%;padding:0}.header-info{width:100%}.main-banner{width:98%;float:right;height:auto;padding-left:8px}.single-content,.wf-top ul{padding-left:10px}.h-r ul img{width:48%;float:left;display:inline-block;margin-left:0}#main,.container{width:98%}.ordernow{width:100%}.single-content{padding-right:10px}}@media only screen and (min-width:480px) and (max-width:760px){.k-product .thumbnail img{height:auto}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center}.header-left{width:100%;margin-bottom:0}.header-center{width:100%}.header-info{width:100%;margin-top:1px}.main-banner{padding:0}}@media (min-width:768px) and (max-width:1024px){.k-product .thumbnail img{height:auto}.main-banner{float:left;width:99%}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center}.header-info .tel span{font-size:12px}.#logo img{max-width:250px}.flexslider.home-flexslider{width:70%;float:left}.h-r{width:27%!important}.h-r ul img{width:97%!important;max-height:auto}.single-content{padding-left:10px;padding-right:10px}.bannerqc2 img,.bannerqc4 img,.bannerqc6 img{max-width:49%!important}.slide-holder{width:100%!important}.wpcf7-validates-as-email{width:36%!important}.new_post_1{width:47%!important;margin-bottom:10px!important}.tile-cat{width:80%!important}#logo img{width:100%}.content-left{display:none!important}.content-right-1,.content-right-search,.info-product .content-right{width:100%!important}}@media (max-width:320px){.k-product .thumbnail img{height:auto}.header-info .tel{background:url(../kang/images/bghotline.png) center no-repeat;text-align:center;background-size:contain}.header-center{width:100%;padding:0}.header-info{width:100%}.main-banner{width:98%;float:right;height:auto;padding-left:8px}.h-r ul img{width:45%;float:left;display:inline-block}}.icon2 a{background:url(images/icon2.png) 2px 50% no-repeat #fff;background-size:38px}.icon3 a{background:url(images/icon3.png) 2px 50% no-repeat #fff;background-size:38px}.icon4 a{background:url(images/icon4.png) 2px 50% no-repeat #fff;background-size:38px}.icon5 a{background:url(images/icon5.png) 2px 50% no-repeat #fff;background-size:38px}.icon6 a{background:url(images/icon6.png) 2px 50% no-repeat #fff;background-size:38px}.icon7 a{background:url(images/icon7.png) 2px 50% no-repeat #fff;background-size:35px}.icon8 a{background:url(images/icon8.png) 2px 50% no-repeat #fff;background-size:38px}.icon9 a{background:url(images/icon9.png) 2px 50% no-repeat #fff;background-size:38px}.icon10 a{background:url(images/icon10.png) 2px 50% no-repeat #fff;background-size:38px}.paymethod .paymethod-list .cod{width:73px;float:left;display:inline-block}.paymethod .paymethod-list .cod a{background:url(../kang/images/icon-cod.png) left top no-repeat;width:70px;height:30px;display:inline-block}.paymethod .paymethod-list .pay{width:73px;float:left;display:inline-block}.paymethod .paymethod-list .pay a{background:url(../kang/images/icon-123pay.png) left top no-repeat;width:70px;height:30px;display:inline-block}.paymethod .paymethod-list .atm{width:73px;float:left;display:inline-block}.paymethod .paymethod-list .atm a{background:url(../kang/images/icon-atm.png) left top no-repeat;width:70px;height:30px;display:inline-block}.paymethod .paymethod-list .visa{width:73px;float:left;display:inline-block}.paymethod .paymethod-list .visa a{background:url(../kang/images/icon-visa.png) left top no-repeat;width:70px;height:30px;display:inline-block}.paymethod .paymethod-list .card{width:73px;float:left;display:inline-block}.paymethod .paymethod-list .card a{background:url(../kang/images/icon-mastercard.png) left top no-repeat;width:70px;height:30px;display:inline-block}.menu-chinh-sach-container{font-size:14px}.menu-chinh-sach-container ul li a{display:inline-block;line-height:31px}#ksingle-lager-view a img{width:100%}.widget-category-archive.has-thumbnail>li .view_right h4 .price{font-size:13px;color:red;padding-top:5px}.sale-off{background:#53ac19;border-radius:50%;position:absolute;top:1px;right:1px;width:38px;height:38px;font-size:12px;color:#fff;display:block;text-align:center;font-weight:700}.sale-off span{display:block;position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.beradcrum .item-cat,.right-short1{display:inline-block}.saving{float:left;width:32%;margin-top:18px;color:red;font-size:18px}.single-short .right-short .saving span{color:#333;font-size:14px}@media all and (max-width:480px){.saving{float:left;width:45%;margin-top:5px;color:red;font-size:18px}}.beradcrum ul a,.gsearch a{color:#3DAD49}
.single-content h2{font-size:17px; color: black}.beradcrum{background: #f4f4f4;
    height: 35px;
    line-height: 45px;
    width: 1200px;
    margin: 0 auto;
}.gsearch a{font-style:italic}.right-short1{width:61%;float:left}.related-posts-single{width:100%;background:#fff;display:inline-block;margin-bottom:10px}.order_right{width:460px;float:right;display:block;z-index:30;margin-top:10px;background:#fff}.content-product,.suk1{width:100%;display:inline-block}.content-product{padding:20px 0 0 10px;margin-top:5px;background:#fff}.right-short10 .price{color:red;font-size:26px;line-height:1;margin-top:15px;width:50%;float:left;font-weight:700}.right-short10 .price span{color:#333;font-size:16px}.kcode1 span,.status1 span{color:#3DAD49;text-transform:uppercase}.kcode1,.status1{font-size:14px;width:50%}.right-short10 .old_price{margin-top:17px;width:50%;float:left}.kcode1{display:inline;padding-right:20px}.status1{display:inline-block;border-left:2px solid #ccc;padding-left:20px}.order_right .right-short .price{color:red;font-size:26px;line-height:1;margin-top:15px;width:50%;float:left;font-weight:700}.order_right .right-short .old_price{margin-top:22px;width:50%;float:left}.new_post_index,.newletter-right{display:inline-block;margin-top:0;float:left}.proDetail-tel .cols1{display:inline-block;padding-right:5px;color:#464646}.proDetail-tel .cols1 a{color:#1a86f5;text-decoration:none;font-size:12px}.proDetail-tel .cols2{display:inline-block;color:#1a86f5;font-size:12px}.proDetail-tel .cols2 a{text-decoration:none;background:url(../kang/images/skype.png) no-repeat}.proDetail-tel .cols2 a span{margin-left:25px}.proDetail-tel{padding:10px 0}.newletter-right{width:50%;padding-left:20px;background:#fff;height:396px;padding-right:5px}.new_post_index{width:100%;padding-right:0;border-right:solid 0 #ccc;background:#fff; margin-bottom: 10px;
    padding-bottom: 20px;}.new_post_1{list-style-type:none;width:23.3%;display:inline-block;float:left;margin:0 10px;border:1px solid #e6e6e6}.cac_bai_con_lai,.detail-post-new,.newsletter-form,.thumbnail_new{width:100%;display:inline-block}.new_post_index.new_post_1:nth-child(4n+4){margin-right:0}.thumbnail_new{float:left}.detail-post-new{float:left;padding:10px;height:100px}.cac_bai_con_lai{font-size:13px}.cac_bai_con_lai a{color:#333}.cac_bai_con_lai li{line-height:24px}.detail-post-new a{font-size:14px;font-weight:bold;color:#333;display:inline-block;line-height:20px; font-family: "Roboto", sans-serif}.content-excerpt-1 p{font-size:13px;display:inline-block;line-height:24px}.newsletter-form{float:left}.newletter-right span{display:inline-block;font-size:13px;background:#fff}.all-products-home{display:inline-block;width:79%;border-top:0 solid #dadada;border-left:0 solid #dadada;float:left}.bannerhome1{display:inline-block;width:19%;float:left;margin-right:1%}.all-products-home>.k-product:nth-child(4n+4){margin-right:0}.bannerqc2,.bannerqc4,.bannerqc6{display:block;width:100%;    position: relative;float:left}.feature-products img{max-width:100%;display:inline-block;float:left;margin-right:1%}.banner-left-home{width:20%;float:left;display:inline-block}.banner-left-home1,.banner-left-home2{width:100%;position: relative;float:left;display:inline-block;margin-bottom:5px}.wpcf7-validates-as-email{height:40px;width:400px;margin-right:5px;color:#3DAD49;border:0;float:left}.wpcf7-submit{height:40px;width:120px;background:#53ac19;border:0}.wpcf7-submit:hover{background:#ff7703}.dangkynhantin{margin-top:10px}.h-r{width:237px;float:left;display:inline-block}.info-product,.product-home{width:100%;background:#fff;display:inline-block}.product-home{margin:5px 0}.content-right{width:76%;float:left;display:inline-block}.content-left{width:23.5%;float:left;display:inline-block}.right-short10{background:#fff;padding:5px}.content-right-category{display:inline-block;width:100%;background:#fff}.content-right-1{padding:0px; width:76%;float:left;display:inline-block;padding-right:10px}.all-products-related-posts-single>.k-product:nth-child(5n+5){margin-right:0}.all-products-related-posts-single>.k-product{width:20%}.proDetail-right{float:right;width:100%}.proDetail-right .showroom{background-color:#f5f5f5;padding:5px 10px 10px}.proDetail-right .showroom .title{font-weight:700;color:#333;text-transform:uppercase;text-align:center}.proDetail-right .showroom .address{background-color:#fff;padding:10px}.proDetail-right .showroom .address .s-l{float:left;width:16px;height:16px;background:url(../kang/images/icon-local.png) left top no-repeat}.proDetail-right .showroom .address .i{float:left;padding-left:10px}.proDetail-right .showroom .address .add{color:#797979;font-size:12px;margin:0;padding-bottom:15px;padding-top:5px}.proDetail-right .suport1 .symbol,.proDetail-right .suport2 .symbol{height:35px;vertical-align:middle;margin-left:5px;display:inline-block}.proDetail-right .showroom .address .add a{color:#797979;text-decoration:none}.proDetail-right .showroom .address .add a i{font-size:11px}.proDetail-right .suport1{background-color:#ff7703;width:49%;float:left;margin-top:10px;padding:10px 0}.proDetail-right .suport1 .symbol{width:35px;background:url(../kang/images/giaohang1.png) left top no-repeat}.proDetail-right .suport1 .text,.proDetail-right .suport2 .text{display:inline-block;width:60%;vertical-align:middle;padding-left:5px;color:#fff}.proDetail-right .suport2{background-color:#ff7703;float:right;width:50%;margin-top:10px;padding:10px 0}.proDetail-right .suport2 .symbol{width:35px;background:url(../kang/images/thanhtoan1.png) left top no-repeat}.clear5px{height:5px}.fa.fa-angle-down{width:20px;margin-left:22px}.fa.fa-navicon{width:30px}.tile-cat .subcate{display:inline-block;color:#3DAD49;font-size:13px;font-style:normal;text-transform:initial;padding:2px 12px;float:right;line-height:35px} .content-product table td, table th{font-size:15px}.tile-cat .subcate:hover{color:red}.slide-holder{margin:10px auto 0;display:inline-block}.slide-container{height:100px;width:100%;overflow:hidden;position:relative}.slide-stage{position:absolute}.slide-image{float:left;width:240px;height:100px;text-align:center}.slide-image img{width:98%;padding:0 5px}.slide-control-next,.slide-control-prev{text-align:center;width:20px;height:50px;background:#3DAD49;line-height:50px;color:#fff;top:20px;font-size:20px}.slide-pager{position:relative;z-index:100}.k-product .frame_view,.slide-control-next,.slide-control-prev{position:absolute;cursor:pointer}.slide-control-prev{left:0}.slide-control-next{right:0;display:block;z-index:29}.content-layout,.kproduct_kt h2,.product-news,site-content .k-has-sidebar{background:#fff}.product-news{display:inline-block;margin:10px 0 5px}.home-new{width:100%;display:inline-block;padding-top:5px}.content-layout{padding:10px}.content-left-new-product{display:inline-block;float:left;width:38%;padding:5px}.kproduct_kt h2{    color: #ffffff;
    background: #53ac19;
    font-weight: 100;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #3DAD49;
    clear: both;
    border-left: 10px solid #ff9600;}.detail-post-new .read-more{font-weight:normal; color:#53ac19;width:50%;display:inline-block;text-align:right}.detail-post-new .title-post-new{height:45px;margin:0}.entry-meta{display:inline-block;width:50%;float:left;font-size:14px;line-height:24px}.info-bai-viet{display:inline-block;width:100%}.entry-meta .fa{width:22px}.wf-top1 ul .new-letter{width:80%;display:inline-block;float:left}.wf-top1 ul .facebook,.wf-top1 ul .google,.wf-top1 ul .linkedin,.wf-top1 ul .pinterest,.wf-top1 ul .twitter,.wf-top1 ul .youtube{background:#53ac19;float:left;text-align:center;height:40px;margin-right:10px}.wf-top1 ul .facebook:hover,.wf-top1 ul .google :hover,.wf-top1 ul .linkedin:hover,.wf-top1 ul .pinterest:hover,.wf-top1 ul .twitter:hover,.wf-top1 ul .youtube:hover{background:#ff7703}.new-letter .dkmail{color:#53ac19;display:inline-block;float:left;margin-right:65px;line-height:40px;font-weight:700;font-size:15px}.wf-top1 .facebook .fa,.wf-top1 .google .fa,.wf-top1 .linkedin .fa,.wf-top1 .pinterest .fa,.wf-top1 .twitter .fa,.wf-top1 .youtube .fa{line-height:40px;font-size:22px;width:40px}.wf-top1{background-color:rgba(165,163,163,.22);-moz-min-width:1200px;-ms-min-width:1200px;-o-min-width:1200px;-webkit-min-width:1200px;padding:15px 0 4px}.wf-top1 ul{overflow:hidden;width:100%;max-width:1200px;-moz-min-width:1000px;-ms-min-width:1000px;-o-min-width:1000px;-webkit-min-width:1000px;margin:auto}.wf-top1 ul .linkedin{margin-right:0}.box-footer .widget_sp_image-description{margin-top:20px}.price-home{display:inline-block;width:100%}.price-home .old_price{text-align: left; width:50%;float:left;font-size:14px;line-height:26px;margin:0}.widget_sp_image-description p{line-height:22px;font-size:14px}#primary>.content-right-search{display:inline-block;width:76%;background:#fff;float:left;padding-right:10px}.thumbnail_new a img{width:100%}.menu-danh-muc-san-pham-container{width:268px;display:inline-block;float:left}ul.nav-menu>li,ul.nav-menu>li a{width:100%;float:left}.content-product{font-size:14px!important;line-height:26px}.single-content h3{font-size:24px!important}.kproduct_kt th,td{border-top:1px solid gray;border-bottom:1px solid gray;padding:10px}.kproduct_kt tr:nth-child(odd){background-color:rgba(5,73,255,.04)}.product-news .all-products-home .k-product:nth-child(5n+4){margin-right:-1px}.product-news .all-products-home{width:100%;margin-bottom:5px}.product-news .all-products-home .k-product{width:20%}.product-news .all-products-home .k-product:nth-child(5n+5){margin-right:0}.banner-left-home1 img,.banner-left-home2 img{height:330px;width:228px}h2.title-form a.close-order i{width:20px}.social-share{line-height:20px}.k-product .frame_view{height:100%;left:0;opacity:0;overflow:hidden;top:0;width:100%;color:#fff;padding:8px;background:rgba(16, 16, 16, 0.78);z-index:100000}.k-product:hover .frame_view{opacity:1;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;text-decoration:none}@media (min-width:320px) and (max-width:1029px){.k-product .frame_view,.k-product:hover .frame_view{display:none}}



.banner-left-home1  a:before, .banner-left-home2  a:before{
     content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 28px;
    z-index: 9;
    border: 1px solid rgba(255,255,255,0.8);
 display: inline-block;
    transform: scale(0,1);
    -ms-transform: scale(0,1);
    -moz-transform: scale(0,1);
    -webkit-transform: scale(0,1);
    -webkit-transform: scale(0,1);
}



.banner-left-home1  a:hover:before, .banner-left-home2  a:hover:before{
transform: scale(1);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

